Repository bellingcat/EDGAR: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, mdformat

autoflake:
  name: autoflake
  entry: poetry run autoflake --in-place
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

mdformat:
  name: mdformat
  entry: poetry run mdformat --wrap 88
  language: system

bugfix: Single day with 10000 results should not split date (#54)
  .github/workflows/tox.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  edgar_tool/text_search.py
  poetry.lock
  pyproject.toml
  tests/responses/0_hits.json
  tests/responses/10000_hits.json
  tests/responses/100_hits.json
  tests/responses/101_hits.json
  tests/responses/1_hit.json
  tests/responses/9999_hits.json
  tests/test_text_search.py
  tox.ini
Due: autoflake, isort, black, mdformat

bugfix: Fix issue with invalid data in json/jsonl
  edgar_tool/io.py
  pyproject.toml
  tests/test_io.py
Due: autoflake, isort, black

bugfix: Fix issue with invalid data in json/jsonl (#55)
  edgar_tool/io.py
  pyproject.toml
  tests/test_io.py
Due: autoflake, isort, black

build: Use src/ layout
  poetry.lock
  pyproject.toml
  src/edgar_tool/__init__.py
  src/edgar_tool/__main__.py
  src/edgar_tool/cli.py
  src/edgar_tool/constants.py
  src/edgar_tool/io.py
  src/edgar_tool/location_autocomplete.py
  src/edgar_tool/rss.py
  src/edgar_tool/text_search.py
  src/edgar_tool/url_generator.py
  src/edgar_tool/utils.py
Due: autoflake, isort, black

build: Bump micro version
  pyproject.toml
  src/edgar_tool/cli.py
Due: autoflake, isort, black

build: Use src/ layout (#56)
  poetry.lock
  pyproject.toml
  src/edgar_tool/__init__.py
  src/edgar_tool/__main__.py
  src/edgar_tool/cli.py
  src/edgar_tool/constants.py
  src/edgar_tool/io.py
  src/edgar_tool/location_autocomplete.py
  src/edgar_tool/rss.py
  src/edgar_tool/text_search.py
  src/edgar_tool/url_generator.py
  src/edgar_tool/utils.py
Due: autoflake, isort, black

refactor: Move SearchParams into it's own file
  src/edgar_tool/cli.py
  src/edgar_tool/search_params.py
  src/edgar_tool/text_search.py
  src/edgar_tool/url_generator.py
  src/edgar_tool/utils.py
  tests/test_search_params.py
  tests/test_text_search.py
  tests/test_url_generator.py
Due: autoflake, isort, black

test: Assert correct custom date_range behavior
  src/edgar_tool/search_params.py
  tests/test_search_params.py
Due: autoflake, isort, black

test: Remove classes in test_search_parms
  tests/test_search_params.py
Due: autoflake, isort, black

feat: Add max_results param to search function
  src/edgar_tool/search_params.py
  src/edgar_tool/text_search.py
  tests/test_search_params.py
  tests/test_text_search.py
Due: autoflake, isort, black

feat: Add max_results flag to edgar text-search
  README.md
  poetry.lock
  src/edgar_tool/cli.py
  tests/test_cli.py
  tests/test_search_params.py
Due: autoflake, isort, black, mdformat

build: Bump version 2.0.2->2.1.0
  pyproject.toml
Due: none

Fix broken jupyter notebook
  notebook/Bellingcat_EDGAR_Tool.ipynb
  poetry.lock
  pyproject.toml
  src/edgar_tool/__init__.py
  src/edgar_tool/text_search.py
  tox.ini
Due: autoflake, isort, black

Update click version to not include 8.2
  poetry.lock
  pyproject.toml
Due: none

bugfix: Fix broken jupyter notebook (#59)
  notebook/Bellingcat_EDGAR_Tool.ipynb
  poetry.lock
  pyproject.toml
  src/edgar_tool/__init__.py
  src/edgar_tool/text_search.py
  tox.ini
Due: autoflake, isort, black

Bump micro version (2.1.0->2.1.1)
  pyproject.toml
Due: none

build: Bump version from 2.1.0 to 2.1.1 (#60)
  pyproject.toml
Due: none

refactor: Location options use official names
  notebook/Bellingcat_EDGAR_Tool.ipynb
  pyproject.toml
  src/edgar_tool/__init__.py
Due: autoflake, isort, black

chore: Move notebook imports up to first cell
  notebook/Bellingcat_EDGAR_Tool.ipynb
Due: none

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
